# Ignore system files
.DS_Store
Thumbs.db

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
venv/
.env/

# Ignore logs
*.log

# Ignore big data files (except the raw CSV you want)
data/*.csv
!data/marketing_campaigns_aug2024_jul2025.csv

# Ignore reports in non-portable formats
reports/*.html
reports/*.docx

# Ignore raw full datasets
data/raw/marketing_campaign_2024.csv
data/raw/marketing_campaign_2025.csv